
h1 {
    color: black;
    text-align: left;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif
}

html {
	background: whitesmoke
}

img {
	float: right;
	height: 50%;
	width: 50%
}

div {
    width: 300px;
    font-family: Gill Sans, sans-serif
} 