
h1 {
    color: black;
    text-align: left;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif
}

html {
	background: whitesmoke
}

img {
	float: right;
	height: 30%;
	width: 30%
}

p {
	text-align: left
}