
h1 {
    color: black;
    text-align: left;
    font-family: Gill Sans, sans-serif;
    font-weight: 300;
    padding-left: 10px
}

html {
	background: whitesmoke
}

img {
	float: right;
	height: 70%;
	width: 70%
}

div {
    width: 300px;
    font-family: Gill Sans, sans-serif
    padding-left: 10px
} 

a:link {
	text-decoration: black;
}

a:visited {
	text-decoration: black;
}

a:hover {
	text-decoration: silver;
}

a:active {
	text-decoration: silver;
}
